$DeviceMinWidth:275px;
$FooterBackgroundColor1:#FFFFFF;
$LogoContainer:#ED3137;
$NavItemColor:#373737;
@mixin  CenterElement($Width){
    margin: 0 auto;
    width: $Width;
}

@mixin  flexCenter{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}
@mixin  CartSection($backgroundColor,$color){
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: $backgroundColor;
    color: $color;
    text-decoration: none;
    border-radius: 10px;
}

#CartContainer{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    min-width: $DeviceMinWidth;
    
}
#CartContentContainer{
    @include CenterElement(96%);
    padding-bottom: 20px;
    height: auto;
    margin-bottom: 30px;
    margin-top: 100px;
    max-width: 768px;
    .CartContentContainer__items{
        height: fit-content;
        width: 100%;

    }
}

.CartContentContainer__items__section1{
    @include flexCenter();
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    background-color: $FooterBackgroundColor1;
    border-radius: 3px;
    box-shadow: 0px 4px 20px #bdbcbc;
    padding-bottom: 24px;
    height:auto;
}
.CartContentContainer__items__section1__img{
    flex-basis: 30%;
    height: 120px;
    img{
        width: 100%;
        height: 100%
    }
}
.CartContentContainer__items__section1__text{
    height:fit-content;
    flex-basis: 70%;
    min-width: 200px;
    .CartContentContainer__items__section1__text__ul1{
        @include flexCenter();
        justify-content: space-between;
        list-style: none;
        padding-top: 5px;
        @include CenterElement(97%)
    
    }
    .CartContentContainer__items__section1__text__ul1 li{
        color: $LogoContainer;
    }
    p{
        @include CenterElement(97%);
        color:$NavItemColor
    }
    .CartContentContainer__items__section1__text__ul2{
        padding-top: 10px;
        @include flexCenter();
        @include CenterElement(97%);
        justify-content: start;
        :nth-child(1){
            color: $LogoContainer
        }
        :nth-child(2){
            margin-left: 25px;
            color: $LogoContainer;
            width: 18px;
        }
        :nth-child(3){
            margin-left: 25px
        }
        :nth-child(4){
            margin-left: 35px;
            color: $LogoContainer;
            width: 18px;
        }
        :nth-child(4):hover{
            cursor: pointer;
        }
    }
    
}
.CartContentContainer__items__section1__text__ul3{
    padding-top: 7px;
    @include flexCenter();
    justify-content:flex-end;
    
    li{
        margin-right: 10px;
    }
}
.deliverby{
    background-color: transparent;
    border: none;
}

.CartContentContainer__items__section2{
    margin-top: 20px;
    height: fit-content;
    @include flexCenter();
    justify-content: space-between;
    li{
        width: 150px;
        height: 45px;
        line-height: 40px;
        text-align: center;
        border-radius: 10px;
        font-size: 16px;
        margin-bottom: 8px;
        box-shadow: 0px 3px 15px #888888;
    }
}
.CartContentContainer__items__section2__buynow{
        text-decoration: none;
       
        @include CartSection(red,$FooterBackgroundColor1);
}

.CartContentContainer__items__section2__CONFIRM{
        @include CartSection($FooterBackgroundColor1,red);
}