#CartContainer {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  min-width: 275px;
}

#CartContentContainer {
  margin: 0 auto;
  width: 96%;
  padding-bottom: 20px;
  height: 900px;
  margin-top: 100px;
  max-width: 768px;
}

#CartContentContainer .CartContentContainer__items {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.CartContentContainer__items__section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 20px #bdbcbc;
          box-shadow: 0px 4px 20px #bdbcbc;
  padding-bottom: 24px;
  height: auto;
}

.CartContentContainer__items__section1__img {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  height: 120px;
}

.CartContentContainer__items__section1__img img {
  width: 100%;
  height: 100%;
}

.CartContentContainer__items__section1__text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  min-width: 200px;
}

.CartContentContainer__items__section1__text .CartContentContainer__items__section1__text__ul1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-top: 5px;
  margin: 0 auto;
  width: 97%;
}

.CartContentContainer__items__section1__text .CartContentContainer__items__section1__text__ul1 li {
  color: #ED3137;
}

.CartContentContainer__items__section1__text p {
  margin: 0 auto;
  width: 97%;
  color: #373737;
}

.CartContentContainer__items__section1__text .CartContentContainer__items__section1__text__ul2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 97%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.CartContentContainer__items__section1__text .CartContentContainer__items__section1__text__ul2 :nth-child(1) {
  color: #ED3137;
}

.CartContentContainer__items__section1__text .CartContentContainer__items__section1__text__ul2 :nth-child(2) {
  margin-left: 15px;
  color: #ED3137;
  width: 18px;
}

.CartContentContainer__items__section1__text .CartContentContainer__items__section1__text__ul2 :nth-child(3) {
  margin-left: 15px;
}

.CartContentContainer__items__section1__text .CartContentContainer__items__section1__text__ul2 :nth-child(4) {
  margin-left: 15px;
  color: #ED3137;
  width: 18px;
}

.CartContentContainer__items__section1__text__ul3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.CartContentContainer__items__section1__text__ul3 li {
  margin-right: 10px;
}

.deliverby {
  background-color: transparent;
  border: none;
}

.CartContentContainer__items__section2 {
  margin-top: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CartContentContainer__items__section2 li {
  width: 150px;
  height: 45px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 8px;
  -webkit-box-shadow: 0px 3px 15px #888888;
          box-shadow: 0px 3px 15px #888888;
}

.CartContentContainer__items__section2__buynow {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: red;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 10px;
}

.CartContentContainer__items__section2__CONFIRM {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  color: red;
  text-decoration: none;
  border-radius: 10px;
}
/*# sourceMappingURL=cart.css.map */