#DetailContainer {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: scroll;
  min-width: 275px;
}

#Nav2 {
  width: 100vw;
  height: 60px;
  position: fixed;
  background-color: #ED3137;
  z-index: 2;
  min-width: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 20px;
}

#Nav2__title {
  padding-top: 6px;
}

#Nav2__arrow {
  font-size: 30px;
  width: 50px;
  color: #FFFFFF;
}

#DetailSliderContainer {
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  margin: 0 auto;
  width: 96%;
}

#DetailSliderContainer ul {
  list-style: none;
}

#DetailSliderContainer .DetailSliderContainer__slides {
  margin-top: 90px;
  width: 0%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: 2s ease;
  transition: 2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

#DetailSliderContainer .DetailSliderContainer__slides li img {
  width: 100%;
  height: 300px;
}

.DetailSliderContainer__slides__dot {
  position: absolute;
  bottom: 34%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 99.2%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.DetailSliderContainer__slides__dot span:hover {
  background-color: #ED3137;
}

.DetailSliderContainer__slides__dot .dot-active {
  background-color: #ED3137;
}

.DetailSliderContainer__slides__dots {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  margin: 0 6px;
  display: inline-block;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  background-color: #FFFFFF;
  border: 2px solid #ED3137;
  color: black;
}

.DetailSliderContainer__slides_slide {
  width: 100%;
}

.title {
  margin-top: 15px;
}

.title p {
  display: inline;
  color: #ED3137;
}

#DetailBodyContainer {
  margin: 0 auto;
  width: 96%;
}

#DetailBodyContainer h4 {
  color: #ED3137;
}

#DetailBodyContainer h4 h3 {
  color: #696767;
  display: inline;
}

.DetailBodyContainer__ul {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
}

.DetailBodyContainer__ul li {
  margin-bottom: 10px;
}

.DetailBodyContainer__ul__li1 {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  height: 60px;
}

.DetailBodyContainer__ul__li1 .DetailBodyContainer__ul__li1__span1 {
  background-color: #ED3137;
  height: 38px;
  width: 66px;
  line-height: 35px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.DetailBodyContainer__ul__li1 .DetailBodyContainer__ul__li1__span1 h3 {
  text-align: center;
}

.DetailBodyContainer__ul__li1 .DetailBodyContainer__ul__li1__span2 {
  height: 38px;
}

.DetailBodyContainer__ul__li1 .DetailBodyContainer__ul__li1__span2 input {
  height: 96%;
  width: 80%;
  border: 1px solid #ED3137;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  margin-left: -5px;
  font-size: 29px;
  padding-left: 5px;
}

.DetailBodyContainer__ul__li1 .DetailBodyContainer__ul__li1__span2 input:focus {
  outline: none;
}

.DetailBodyContainer__ul__li1 span h3 {
  color: #FFFFFF;
}

.DetailBodyContainer__ul__li2 {
  padding-left: 12px;
}

.DetailBodyContainer__ul__li3 {
  padding-left: 12px;
}

.color {
  width: 110px;
  height: 55px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 5px #b9b8b8;
          box-shadow: 0px 4px 5px #b9b8b8;
  font-size: 25px;
  text-align: center;
  padding-left: 20px;
  color: #696767;
}

.size {
  width: 95px;
  height: 55px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 5px #b9b8b8;
          box-shadow: 0px 4px 5px #b9b8b8;
  font-size: 25px;
  text-align: center;
  padding-left: 20px;
  color: #696767;
}

.num {
  width: 95px;
  height: 55px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 5px #b9b8b8;
          box-shadow: 0px 4px 5px #b9b8b8;
  font-size: 25px;
  text-align: center;
  padding-left: 20px;
  color: #696767;
}

#DetailBodyContainer__Delivery {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #696767;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  color: #696767;
}

#chooseDelivery {
  background-color: transparent;
  border: none;
}

#DetailBodyContainer__Address {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #696767;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  color: #696767;
}

#chooseAddress {
  background-color: transparent;
  border: none;
}

#DetailBodyContainer__check {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #696767;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  color: #696767;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#DetailBodyContainer__check li {
  width: 120px;
  height: 55px;
  -webkit-box-shadow: 0px 4px 5px #b9b8b8;
          box-shadow: 0px 4px 5px #b9b8b8;
  text-align: center;
  line-height: 48px;
}

#CHECK {
  background-color: blue;
  color: #FFFFFF;
}

.DetailBodyContainer__check__link {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 100%;
  height: 100%;
  color: #ED3137;
}

.App button {
  width: 100%;
  font-size: 20px;
  height: 55px;
  background-color: transparent;
  border: none;
  background-color: #ED3137;
  color: #FFFFFF;
}

.App button:focus {
  outline: none;
}

#DetailBodyContainer__DeliveryFee {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #696767;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  color: #696767;
}

#DetailBodyContainer__Packaging {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #696767;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  color: #696767;
}

#DetailBodyContainer__TOTAL {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #696767;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  color: #696767;
}

@media screen and (min-width: 700px) {
  #DetailSliderContainer {
    width: 90%;
  }
  #DetailBodyContainer {
    margin: 0 auto;
    width: 90%;
  }
  .DetailSliderContainer__slides__dot {
    position: absolute;
    bottom: 130px;
  }
}

#CartContainer {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  min-width: 275px;
}

#CartContentContainer {
  margin: 0 auto;
  width: 96%;
  padding-bottom: 20px;
  height: auto;
  margin-bottom: 30px;
  margin-top: 100px;
  max-width: 768px;
}

#CartContentContainer .CartContentContainer__items {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.CartContentContainer__items__section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 20px #bdbcbc;
          box-shadow: 0px 4px 20px #bdbcbc;
  padding-bottom: 24px;
  height: auto;
}

.CartContentContainer__items__section1__img {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  height: 120px;
}

.CartContentContainer__items__section1__img img {
  width: 100%;
  height: 100%;
}

.CartContentContainer__items__section1__text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  min-width: 200px;
}

.CartContentContainer__items__section1__text .CartContentContainer__items__section1__text__ul1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-top: 5px;
  margin: 0 auto;
  width: 97%;
}

.CartContentContainer__items__section1__text .CartContentContainer__items__section1__text__ul1 li {
  color: #ED3137;
}

.CartContentContainer__items__section1__text p {
  margin: 0 auto;
  width: 97%;
  color: #373737;
}

.CartContentContainer__items__section1__text .CartContentContainer__items__section1__text__ul2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 97%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.CartContentContainer__items__section1__text .CartContentContainer__items__section1__text__ul2 :nth-child(1) {
  color: #ED3137;
}

.CartContentContainer__items__section1__text .CartContentContainer__items__section1__text__ul2 :nth-child(2) {
  margin-left: 15px;
  color: #ED3137;
  width: 18px;
}

.CartContentContainer__items__section1__text .CartContentContainer__items__section1__text__ul2 :nth-child(3) {
  margin-left: 15px;
}

.CartContentContainer__items__section1__text .CartContentContainer__items__section1__text__ul2 :nth-child(4) {
  margin-left: 15px;
  color: #ED3137;
  width: 18px;
}

.CartContentContainer__items__section1__text__ul3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.CartContentContainer__items__section1__text__ul3 li {
  margin-right: 10px;
}

.deliverby {
  background-color: transparent;
  border: none;
}

.CartContentContainer__items__section2 {
  margin-top: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CartContentContainer__items__section2 li {
  width: 150px;
  height: 45px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 8px;
  -webkit-box-shadow: 0px 3px 15px #888888;
          box-shadow: 0px 3px 15px #888888;
}

.CartContentContainer__items__section2__buynow {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: red;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 10px;
}

.CartContentContainer__items__section2__CONFIRM {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  color: red;
  text-decoration: none;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  z-index: 5;
}

.body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  min-width: 280px;
}

.LogoContainer {
  width: 100%;
  height: 80px;
  position: relative;
  min-width: 275px;
}

.LogoContainer h2 {
  height: 70px;
  color: #FFFFFF;
  text-align: center;
  line-height: 70px;
  font-size: 25px;
}

.LogoContainer .search {
  position: absolute;
  margin: auto;
  height: 35px;
  padding-left: 10px;
  left: 0;
  right: 0;
  top: 70px;
  width: 61%;
  bottom: -10px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px #bdbcbc;
          box-shadow: 0px 4px 20px #bdbcbc;
  border: none;
  border-radius: 25px;
  min-width: 220px;
  z-index: 2;
}

.LogoContainer .search:focus {
  outline: none;
}

.LogoContainer span {
  border: 1px solid #FFFFFF;
  position: absolute;
  width: 35px;
  height: 0px;
  margin-left: 10px;
  background-color: #FFFFFF;
}

.LogoContainer #bar__1 {
  top: 30px;
}

.LogoContainer #bar__2 {
  top: 36px;
}

.LogoContainer #bar__3 {
  top: 43px;
}

.LogoContainer-M {
  background-color: #ED3137;
}

.FooterContainer {
  height: 45px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  min-width: 275px;
  -webkit-box-shadow: 4px 0px 20px #bdbcbc;
          box-shadow: 4px 0px 20px #bdbcbc;
}

.FooterContainer-M {
  background-color: #FFFFFF;
}

.FooterContainer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto 0;
  width: 99%;
  min-width: 275px;
}

.FooterContainer__nav :hover {
  color: #ED3137;
}

.FooterContainer__nav li {
  font-size: 14px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #373737;
}

.FooterContainer__nav li span Link {
  text-decoration: none;
}

.FooterContainer__nav__HomeLink {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  text-decoration: none;
}

.active {
  color: #ED3137;
}

.FooterContainer__nav__HomeLink {
  text-decoration: none;
}

.BodyNavContainer {
  width: 100vw;
  overflow: hidden;
  height: 80px;
  line-height: 110px;
  min-width: 275px;
  border-bottom: 2px solid #ED3137;
  background-color: 275px;
  background-color: #FFFFFF;
}

.BodyNavContainer li {
  color: #373737;
  font-size: x-small;
  position: relative;
}

.BodyNavContainer span {
  position: absolute;
  width: 62px;
  border: 1px solid #ED3137;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  height: 0px;
  -webkit-transition: height 0.15s ease-in;
  transition: height 0.15s ease-in;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ED3137;
}

.BodyNavContainer #BodyNavContainer__nav__1 {
  left: -10px;
}

.BodyNavContainer #BodyNavContainer__nav__2 {
  left: -7px;
}

.BodyNavContainer li:hover span {
  height: 33px;
  -webkit-transition: height 0.19s ease-out;
  transition: height 0.19s ease-out;
}

.BodyNavContainer li:hover h3 {
  color: #ED3137;
}

.BodyNavContainer li:hover {
  cursor: pointer;
}

#BodyNavContainer__nav {
  width: 99%;
  min-width: 275px;
  margin: 0 auto;
  border-bottom: 1px solid #ED3137;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sliderContainer {
  width: 96%;
  height: 170px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  padding-top: 180px;
}

#sliderContainer__slides {
  position: absolute;
  width: 200%;
  height: 170px;
  -webkit-transition: 2s ease;
  transition: 2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#sliderContainer__slides li {
  list-style: none;
  width: 100%;
  height: 100%;
}

#sliderContainer__slides li h3 {
  color: #ED3137;
  position: absolute;
  top: 70%;
  left: 22px;
}

#sliderContainer__slides li img {
  width: 100%;
  height: 100%;
}

#sliderContainer__slides .secondSlide {
  position: relative;
}

#sliderContainer__slides .secondSlide .secondSlide__ALL {
  position: absolute;
  top: 10%;
  left: 65%;
  font-size: 12px;
  right: 0px;
  text-align: center;
}

#sliderContainer__slides .secondSlide .secondSlide__NEXSHALES {
  position: absolute;
  top: 30%;
  right: 0px;
  text-align: right;
  font-size: 27px;
  padding-right: 5%;
}

.LogoContainer__dropDown {
  position: absolute;
  top: 71px;
  left: -120px;
  width: 120px;
  height: 175px;
  z-index: 3;
  padding-bottom: 20px;
  margin-top: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 10px;
  -webkit-transition: left 0.15s ease-in;
  transition: left 0.15s ease-in;
  position: relative;
  overflow: hidden;
  list-style: none;
}

.LogoContainer__dropDown .LogoContainer__dropDown__item {
  width: 120px;
}

.LogoContainer__dropDown .LogoContainer__cancel {
  position: absolute;
  top: 14px;
  right: 50px;
}

.LogoContainer__dropDown .LogoContainer__cancel span {
  width: 30px;
  border: 1px solid #ED3137;
}

.LogoContainer__dropDown .LogoContainer__cancel .LogoContainer__cancel__cancel__bar1 {
  -webkit-transform: translateY(-1px) rotateZ(-45deg);
          transform: translateY(-1px) rotateZ(-45deg);
}

.LogoContainer__dropDown .LogoContainer__cancel .LogoContainer__cancel__cancel__bar2 {
  -webkit-transform: translateY(-1px) rotatez(45deg);
          transform: translateY(-1px) rotatez(45deg);
}

.toggle {
  left: 0px;
  -webkit-transition: left 0.25s ease-out;
  transition: left 0.25s ease-out;
}

.LogoContainer__dropDown-M {
  background-color: #FFFFFF;
}

#LogoContainer__dropDown__item__link {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  margin-top: 34px;
  padding-left: 4px;
}

#LogoContainer__dropDown__item__link:hover {
  border-bottom: 1px solid black;
}

#productContainer {
  width: 96%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #FFFFFF;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  flex-wrap: wrap;
}

#productContainer li {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 170px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
  overflow: hidden;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 4px 5px #dddddd;
          box-shadow: 0px 4px 5px #dddddd;
}

#productContainer li h5 {
  color: #ED3137;
  margin: 0 auto;
  width: 90%;
}

#productContainer li p {
  font-size: 12px;
  margin: 0 auto;
  width: 90%;
}

#productContainer li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productContainer__Link {
  display: inline-block;
  height: 70%;
  width: 100%;
  color: black;
  overflow: hidden;
}

.productContainer__Link img {
  width: 100%;
  height: 100%;
}

.productContainer__Link__cart {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 700px) {
  #BodyNavContainer__nav {
    margin: 0 auto;
  }
  #BodyNavContainer__nav li h3 {
    font-size: 20px;
    text-align: center;
  }
  .sliderContainer {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    max-width: 921px;
  }
  #sliderContainer__slides {
    width: 200%;
    height: 100%;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  #sliderContainer__slides li h3 {
    top: 52%;
    left: 45px;
    font-size: 35px;
  }
  #sliderContainer__slides li img {
    width: 100%;
    height: 69%;
  }
  #sliderContainer__slides .secondSlide .secondSlide__ALL {
    font-size: 30px;
  }
  #sliderContainer__slides .secondSlide .secondSlide__NEXSHALES {
    top: 20%;
    font-size: 42px;
  }
}
/*# sourceMappingURL=style.css.map */